.react-autosuggest__container {
  display: inline-block;
  width: 50%;
  position: relative;
}

.react-autosuggest__suggestions-container {
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  border-radius: 7px;
  margin-top: 0.3em;
}

.react-autosuggest__suggestions-list {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 5px 10px;
  border: 1px solid transparent;
}

.react-autosuggest__suggestions-container:not(
    :has(.react-autosuggest__suggestion--highlighted)
  )
  .react-autosuggest__suggestion:first-child,
.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
}
