# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# VS Code
*.code-workspace

.eslintcache
tsconfig.tsbuildinfo
ui/tailwind.output.css
cache
config.json
backend/scratch*.ts
data
/build-reports

dist
language-colors.ts
analytics.csv
archive
cache.tar.gz
todo.md
ui/node_modules
ft.json
meta-data.json