@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.accordian-content {
  max-height: 0;
  -webkit-transition: max-height .55s;
  -o-transition: max-height .55s;
  transition: max-height .55s;
}

.max-width-full {
  max-width: 100%;
}

.artifact:hover .artifact-title {
  text-decoration: underline;
}

.show-more {
  visibility: hidden;
}

.workitem-body:hover .show-more {
  visibility: visible;
}

.link-text {
  @apply text-blue-600 hover:underline
}

.commits-profile:hover .dev-name {
  @apply link-text underline;
}

.summary-table {
  @apply w-full;
}

.summary-table thead {
  @apply bg-gray-800 text-white;
}

.summary-table thead th {
  @apply px-6 py-4 text-left text-xs font-medium uppercase tracking-wider;
}

.summary-table tbody {
  @apply bg-white divide-y divide-gray-100;
}

.summary-table tbody tr {
  @apply hover:bg-gray-50;
}

.summary-table tbody tr td {
  @apply px-6 py-3;
}

.summary-table tbody tr td:first-child {
  @apply font-semibold;
}
