@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-text-base: 3, 7, 18;
    --color-text-helptext: 75, 85, 99;
    --color-text-helptext-emphasis: 17, 24, 39;
    --color-text-icon: 156, 163, 175;
    --color-text-icon-active: 3, 7, 18;
    --color-text-highlight: 37, 99, 235;
    --color-text-success: 22, 163, 74;
    --color-text-danger: 239, 68, 68;

    --color-bg-page: 249, 250, 251;
    --color-bg-page-content: 255, 255, 255;
    --color-bg-col-header: 243, 244, 246;
    --color-bg-secondary: 249, 250, 251;
    --color-bg-hover: 249, 250, 251;
    --color-bg-backdrop: 31, 41, 55;
    --color-bg-tag: 229, 231, 235;
    --color-bg-success: 187, 247, 208;
    --color-bg-danger: 254, 226, 226;

    --color-border-separator: 229, 231, 235;

    --color-input-highlight: 37, 99, 235;
    --color-input-border: 209, 213, 219;
  }

  ::backdrop {
    --color-bg-backdrop: 31, 41, 55;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'],
  [multiple],
  [select],
  textarea,
  select,
  .react-select,
  .tagged-input {
    @apply border border-theme-input rounded
      focus:border-theme-input-highlight focus:ring-1 focus:ring-theme-input-highlight
      hover:border-theme-input-highlight hover:ring-0 hover:ring-theme-input-highlight;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply focus:ring-0 focus:shadow-none focus-visible:ring-1;
  }
}

.react-select:focus-within,
.tagged-input:focus-within {
  @apply border-theme-input-highlight ring-1 ring-theme-input-highlight;
}

.react-select > div {
  border: none;
}

.react-select input,
.react-select input:focus,
.react-select input:hover,
.tagged-input input,
.tagged-input input:focus,
.tagged-input input:hover {
  box-shadow: none;
  border: none;
}

body {
  @apply bg-theme-page text-theme-base;
}

.link-text {
  @apply text-theme-highlight hover:underline;
}

.nav-link {
  @apply px-3 mr-2 h-10 rounded-md text-lg font-medium leading-4
    transition duration-300 ease-in-out flex items-center;
}

.nav-link.selected {
  @apply bg-gray-800 text-gray-200;
}

.nav-link.not-selected {
  @apply border-2 border-transparent hover:border-gray-800 text-gray-800 cursor-pointer;
}

.commits-profile:hover .dev-name {
  @apply link-text underline;
}

.summary-table {
  @apply w-full relative;
}

.summary-table thead {
  @apply bg-gray-800 text-white;
}

.summary-table thead th {
  @apply sticky top-0 bg-gray-800 text-white z-10;
}

.summary-table thead th button {
  @apply px-6 py-4 text-xs text-center font-medium uppercase tracking-wider
  w-full inline-flex items-center justify-center gap-1;
}

.summary-table thead th.left button {
  @apply text-left justify-start gap-1;
}

.summary-table tbody {
  @apply bg-white divide-y divide-gray-100;
}

.summary-table tbody tr {
  @apply hover:bg-gray-50;
}

.summary-table tbody tr td {
  @apply px-6 py-3 text-center;
}

.summary-table tbody tr td.left {
  @apply text-left;
}
.summary-table tbody tr td:first-child {
  @apply font-semibold;
}

.table {
  @apply table-auto text-center divide-y divide-gray-200 w-full;
}

.table thead th {
  @apply px-6 py-3 text-xs font-medium text-gray-800 uppercase tracking-wider;
}

.table thead th:first-child {
  @apply w-2/6;
}

.table tbody {
  @apply text-base text-gray-600 bg-white divide-y divide-gray-200;
}

.table tbody td {
  @apply py-4 whitespace-nowrap text-center;
}

.table tbody td:first-child {
  @apply pl-6 text-left;
}
