@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.accordian-content {
  max-height: 0;
  -webkit-transition: max-height .55s;
  -o-transition: max-height .55s;
  transition: max-height .55s;
}

.max-width-full {
  max-width: 100%;
}

.artifact:hover .artifact-title {
  text-decoration: underline;
}

.show-more {
  visibility: hidden;
}

.workitem-body:hover .show-more {
  visibility: visible;
}

.link-text {
@apply text-blue-600 hover:underline
}

.commits-profile:hover .dev-name {
  @apply link-text underline;
}

.zigzag { 
  width: 100%; 
  height: 10px; 
  background: 
    linear-gradient(135deg, #fff 25%, transparent 25%) -2.5px 0, 
    linear-gradient(225deg, #fff 25%, transparent 25%) -2.5px 0, 
    linear-gradient(315deg, #fff 35%, transparent 25%) 2.5px 0, 
    linear-gradient(45deg, #fff 35%, transparent 25%) 2.5px 0; 
  background-size: 10px 10px; 
  background-color: rgba(156, 163, 175, 1)
}