@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.accordian-content {
  max-height: 0;
  -webkit-transition: max-height .55s;
  -o-transition: max-height .55s;
  transition: max-height .55s;
}

.max-width-full {
  max-width: 100%;
}

.artifact:hover .artifact-title {
  text-decoration: underline;
}

.show-more {
  visibility: hidden;
}

.workitem-body:hover .show-more {
  visibility: visible;
}