@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-text-base: 3, 7, 18;
    --color-text-helptext: 75, 85, 99;
    --color-text-icon: 156, 163, 175;
    --color-text-icon-active: 3, 7, 18;

    --color-bg-col-header: 243, 244, 246;
    --color-bg-secondary: 249, 250, 251;
    --color-bg-hover: 249, 250, 251;

    --color-border-separator: 229, 231, 235;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  [select],
  textarea,
  select {
    @apply border border-gray-300 rounded focus:border-blue-600 focus:ring-1 focus:ring-blue-600 hover:border-blue-600 hover:ring-1 hover:ring-blue-600 hover:border-opacity-50;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border border-gray-300 rounded-sm focus:border-gray-950 focus:ring-1 focus:ring-gray-950 hover:border-gray-950 hover:ring-1 hover:ring-gray-950 hover:border-opacity-50 mr-1 cursor-pointer ring-offset-0;
    color: theme('colors.gray.950', colors.gray[950]);
  }
}

body {
  @apply bg-gray-50 text-theme-base;
}

.link-text {
  @apply text-blue-600 hover:underline;
}

.nav-link {
  @apply px-3 mr-2 h-10 rounded-md text-lg font-medium leading-4
    transition duration-300 ease-in-out flex items-center;
}

.nav-link.selected {
  @apply bg-gray-800 text-gray-200;
}

.nav-link.not-selected {
  @apply border-2 border-transparent hover:border-gray-800 text-gray-800 cursor-pointer;
}

.commits-profile:hover .dev-name {
  @apply link-text underline;
}

.summary-table {
  @apply w-full relative;
}

.summary-table thead {
  @apply bg-gray-800 text-white;
}

.summary-table thead th {
  @apply sticky top-0 bg-gray-800 text-white z-10;
}

.summary-table thead th button {
  @apply px-6 py-4 text-xs text-center font-medium uppercase tracking-wider
  w-full inline-flex items-center justify-center gap-1;
}

.summary-table thead th.left button {
  @apply text-left justify-start gap-1;
}

.summary-table tbody {
  @apply bg-white divide-y divide-gray-100;
}

.summary-table tbody tr {
  @apply hover:bg-gray-50;
}

.summary-table tbody tr td {
  @apply px-6 py-3 text-center;
}

.summary-table tbody tr td.left {
  @apply text-left;
}
.summary-table tbody tr td:first-child {
  @apply font-semibold;
}

.table {
  @apply table-auto text-center divide-y divide-gray-200 w-full;
}

.table thead th {
  @apply px-6 py-3 text-xs font-medium text-gray-800 uppercase tracking-wider;
}

.table thead th:first-child {
  @apply w-2/6;
}

.table tbody {
  @apply text-base text-gray-600 bg-white divide-y divide-gray-200;
}

.table tbody td {
  @apply py-4 whitespace-nowrap text-center;
}

.table tbody td:first-child {
  @apply pl-6 text-left;
}

.react-select {
  @apply border border-gray-300 rounded focus:border-blue-600 focus:ring-2 focus:ring-blue-600 hover:border-blue-600 hover:ring-1 hover:ring-blue-600 hover:border-opacity-50;
}

.react-select > div {
  border: none;
}

.react-select input,
.react-select input:focus,
.react-select input:hover {
  box-shadow: none;
}
