@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.accordian-content {
  max-height: 0;
  -webkit-transition: max-height 0.55s;
  -o-transition: max-height 0.55s;
  transition: max-height 0.55s;
}

.max-width-full {
  max-width: 100%;
}

.artifact:hover .artifact-title {
  text-decoration: underline;
}

.show-more {
  visibility: hidden;
}

.workitem-body:hover .show-more {
  visibility: visible;
}

.link-text {
  @apply text-blue-600 hover:underline;
}

.nav-link {
  @apply px-3 mr-2 h-10 rounded-md text-lg font-medium leading-4
    transition duration-300 ease-in-out flex items-center;
}

.nav-link.selected {
  @apply bg-gray-800 text-gray-200;
}

.nav-link.not-selected {
  @apply border-2 border-transparent hover:border-gray-800 text-gray-800 cursor-pointer;
}

.commits-profile:hover .dev-name {
  @apply link-text underline;
}

.summary-table {
  @apply w-full relative;
}

.summary-table thead {
  @apply bg-gray-800 text-white;
}

.summary-table thead th {
  @apply sticky top-0 bg-gray-800 text-white z-10;
}

.summary-table thead th button {
  @apply px-6 py-4 text-xs text-center font-medium uppercase tracking-wider
  w-full inline-flex items-center justify-center gap-1;
}

.summary-table thead th.left button {
  @apply text-left justify-start gap-1;
}

.summary-table tbody {
  @apply bg-white divide-y divide-gray-100;
}

.summary-table tbody tr {
  @apply hover:bg-gray-50;
}

.summary-table tbody tr td {
  @apply px-6 py-3 text-center;
}

.summary-table tbody tr td.left {
  @apply text-left;
}
.summary-table tbody tr td:first-child {
  @apply font-semibold;
}

.table {
  @apply table-auto text-center divide-y divide-gray-200 w-full;
}

.table thead th {
  @apply px-6 py-3 text-xs font-medium text-gray-800 uppercase tracking-wider;
}

.table thead th:first-child {
  @apply w-2/6;
}

.table tbody {
  @apply text-base text-gray-600 bg-white divide-y divide-gray-200;
}

.table tbody td {
  @apply py-4 whitespace-nowrap text-center;
}

.table tbody td:first-child {
  @apply pl-6 text-left;
}
